# The below values may be found in your Stytch Dashboard: https://stytch.com/dashboard/api-keys
STYTCH_PROJECT_ENV=organization-prod-f3b14f0c-e831-415a-adf3-f71c0fe4f7d8
STYTCH_PROJECT_ID="project-test-2c27cb34-3c5b-47f8-9625-82a31c65ce51"
NEXT_PUBLIC_STYTCH_PUBLIC_TOKEN="public-token-test-d9ca89ed-d472-4f4b-b1cf-bd70067fa8a6"
STYTCH_SECRET="secret-test-y9SgW2Swr4fFmXXwR-nn3eTvP8Sgcl6-xf4="
